{% extends 'base.html' %}

{% block content %}

    <h3>Students list</h3>
    <select id="students_list" onchange="update()" class="browser-default custom-select col-sm-4">
    <option selected >Choose the student to see his/her plan</option>
        {% for student in studentkieruneksemestr_list%}
            <option value="{{ student.pk }}">{{ student.id_studenta }} {{ student.id_semestru.id_kierunku.nazwa_kierunku }} Semestr {{ student.id_semestru.nr_semestru }}</option>
        {% endfor %}
    </select>
    <a id="student_plan_button" class="btn btn-primary" href="#">Show plan</a>

    <script>
     function update()
     {
         let student = document.getElementById("students_list");
         let students_semester = student.options[student.selectedIndex].value
         {% now "d-m-Y" as today %}
         {% now "w" as today_day_of_week %}
         let button = document.getElementById("student_plan_button");
         if(Number.isInteger(parseInt(students_semester)))
         {
             button.href="{% url 'students:show_timetable' semester="students_semester" time=today week_day=today_day_of_week %}".replace(/students_semester/,students_semester)
         }
         else
         {
              button.href="#"
         }

     }
    </script>

{#<ul class="list-group list-group-flush">#}
{##}

{##}
{#{% for teacher in enrolled_semester  %}#}
{#    {% if semester.is_current %}#}
{#  <a href="#" class="list-group-item list-group-item-action active">#}
{#    {{ semester.id_kierunku.nazwa_kierunku }}#}
{#     {{ semester.id_semestru.nr_semestru }}#}
{#  </a>#}
{#    {% endif %}#}
{#    {% empty %}#}
{#    <p class="lead">#}
{#    You are currently not enrolled for any semester.  <a href="{% url 'students:new_enroll' %}">Enroll</a>. </p>#}
{#  </a>#}
{#{% endfor %}#}
{##}
{#</ul>#}
{##}




{%  endblock %}