{% extends 'base.html' %}

{% block content %}

  <h3>Rooms list</h3>

  <select id="rooms_list" onchange="update()" class="browser-default custom-select col-sm-4">
  <option selected >Choose room you want to book</option>
      {% for room in room_list%}
          <option value="{{ room.pk }}">{{ room }}</option>
      {% endfor %}
  </select>
  <a id="room_availability" class="btn btn-primary" href="#">Show availability</a>

  <script>
   function update()
   {
       let room = document.getElementById("rooms_list")
       #let room_pk = room.options[room.selectedIndex].value
       console.log(room_pk)
       {% now "d-m-Y" as today %}
       {% now "w" as today_day_of_week %}
       let button = document.getElementById("room_availability")
       if(Number.isInteger(parseInt(room_pk)))
       {
           button.href="{% url 'rooms:booked_rooms' room="room_pk" date=today week_day=today_day_of_week %}".replace(/room_pk/,room_pk)

       }
       else
       {
            button.href="#"
       }

   }
  </script>

{%  endblock %}
